.no_proofs {
    margin-top: 30px;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}

.modal_text {
    width: 300px;
    display: grid;
    text-align: center;
    font-size: 22px;
}

.slider {
    width: 70%;
    height: 25%;
    margin: 0 auto;
    margin-bottom: 16px;
    appearance: none;
    border-radius: 50px;
    box-shadow: 0 0 10px #a582f7;
    cursor: pointer;
    border: 0;
}

.kudos_parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kudos_value {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    border-radius: 10px;
    color: #adadad;
    border: 3px solid transparent;
    text-align: center;
    width: 50%;
    background: linear-gradient(0deg, #000, #000) padding-box,
        linear-gradient(180deg, #ce9ffc 0%, #a582f7 50%, #7367f0 100%)
            border-box;
    background-size: 100% 100%, 100% 100%;
    &:focus {
        color: #fff;
        background: #000;
        border: 3px solid #fff;
    }
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #a582f7;
    border-radius: 50%;
    border: none;
}
