.talent_card {
    position: relative;
    width: 100%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
    padding: 30px 10px 30px 40px;
    color: #fff;
    background: #111111;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
    & * {
        position: relative;
        z-index: 2;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url("images/fire.svg");
        background-repeat: no-repeat;
        background-position: bottom -70px right -40px;
        width: 25%;
        height: 100%;
        z-index: 1;
    }
    &:hover {
        box-shadow: 8px 8px 15px rgba(185, 145, 250, 0.5),
            inset 5px 5px 10px #111111;
        transform: scale(1.01);
        .photo {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.photo {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: all 0.3s ease;
    }
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 6px;
}
.specialization {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    background: linear-gradient(
        180deg,
        #ce9ffc 0%,
        #a582f7 50.52%,
        #7367f0 100%
    );
    background-clip: text;
    color: transparent;
}
.skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 450px;
    gap: 10px;
    flex-wrap: wrap;
}
.skill {
    font-size: 14px;
    background-color: #686868;
    border-radius: 30px;
    border: 2px solid #888888;
    padding: 0px 10px;
}
