.filter {
    display: flex;
    flex-direction: column;    
    min-height: 45px;
    width: 100%;    
}
.filter_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    width: 100%; 
    min-height: 46px;
    border-bottom: 1px solid #FFFFFF;
    cursor: pointer;
    user-select: none;
    &::after{
        content: "";
        position: absolute;
        right: 10px;
        width: 16px;
        height: 10px;
        background-image: url('./images/arrow.svg');
        background-size: 100% 100%;
        background-position: center center;
        transition: all .3s ease;
    }
    &.opened{
        &::after{
            transform: rotate(-180deg);
        }
    }
}
.filter_values {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    transform-origin: top center;    
    transition: all .4s ease-in-out;    
    &.show{
        opacity: 1;
        visibility: visible;
        max-height: 1000px;
    }
    &.hide{
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        overflow: hidden;
    }
}
