.pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;
	padding: 10px;
	margin-top: 30px;
}
@media (max-width: 768px) {
	.pagination {
		gap: 20px;
	}
}
@media (max-width: 368px) {
	.pagination {
		gap: 10px;
	}
}
.pages {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
}
@media (max-width: 768px) {
	.pages {
		gap: 5px;
	}
}

.left,
.right {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-family: "Plus Jakarta Sans";
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
	border-radius: 10px;
	border: 3px solid transparent;
	background: linear-gradient(0deg, #000, #000) padding-box,
		linear-gradient(180deg, #ce9ffc 0%, #a582f7 50%, #7367f0 100%) border-box;
	background-size: 100% 100%, 100% 100%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	user-select: none;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url("./images/arrow.svg") center center/40% 40% no-repeat;
	}
}
.left::before {
	transform: rotate(90deg);
}
.right::before {
	transform: rotate(-90deg);
}

@media (min-width: 992px) {
	.left:hover,
	.right:hover {
		color: white;
		background-size: 0% 0%, 100% 100%;
		animation: btn_animation 0.5s ease forwards;
	}
}
@media (max-width: 992px) {
	.left:active,
	.right:active {
		color: white;
		background-size: 0% 0%, 100% 100%;
		animation: btn_animation 0.5s ease forwards;
	}
}
