.talent_data {
    flex: 30%;
    display: table;
    align-items: center;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(130deg, #8b56c0 50%, #a582f7 80.52%);
    color: #fff;
    padding: 30px 30px;
    border-radius: 20px;
}

.ava {
    border-radius: 50%;
    border: 2px solid #fff;
    height: 250px;
    width: 250px;
}

.avatar{
    margin-top: 15px;
}

.name {
    list-style: none;
    margin-top: 50px;
    font-weight: 800;
    display: flex;
    justify-content: space-evenly;
}

.input_block {
    line-height: 15px;
    text-align: start;
    padding: 0 5px;
    input {
        max-width: 200px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 10px;
        padding: 0 5px;
    }
    span {
        font-size: 10px;
        display: inline-block;
        padding: 0 5px;
        text-align: justify;
        font-weight: 600;
    }
}

.error {
    border: 3px solid #ff0062c1;
}

.specialization {
    display: flex;
    justify-content: center;
}

.talents {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0.5em;
}

.talents_edit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    input {
        max-width: 250px;
        width: 250px;
        margin-right: 10px;
    }
    button {
        padding: 0 5px;
        &[disabled] {
            opacity: 0.7;
            cursor: default;
            &:hover {
                background-size: 100%;
            }
        }
    }
    ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        text-align: start;
        padding: 0 5px;
        li {
            width: 45%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            button {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: #000;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    height: 1px;
                    width: 7px;
                    border-bottom: #fff solid 1px;
                    border-radius: 5px;
                    top: 50%;
                    left: 25%;
                }
            }
            &:nth-child(2n + 1) {
                margin-right: 20px;
            }
        }
    }
}

.input_add {
    display: flex;
}

.talent {
    font-size: 17px;
    background-color: rgb(21, 21, 21);
    border-radius: 30px;
    align-self: center;
}

.links {
    padding: 0px 10px;
    input {
        max-width: 350px;
        width: 350px;
    }
    .add {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        line-height: 36px;
        border-radius: 50%;
        background: #000;
        &[disabled] {
            opacity: 0.5;
            cursor: default;
        }
    }
}

.link {
    display: inline-block;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 10px;
}
.skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 450px;
    gap: 10px;
    flex-wrap: wrap;
}
.skill {
    font-size: 14px;
    background-color: #686868;
    border-radius: 30px;
    border: 2px solid #888888;
    padding: 0px 10px;
}
.socials {
    width: 35px;
    transition: all 0.1s ease-in;
    &:hover {
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1068px) {
    .talent_data {
        width: 100%;
    }
}
